@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="card">
        <div class="card-header">
            <i class="fas fa-users me-1"></i> Lista de Usuarios
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-success">Crear Nuevo</button>
                </div>
            </div>

            <hr />

            <table id="tabla" class="display cell-border" style="width: 100%">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Celular</th>
                        <th>Correo</th>
                        <th>Fecha de nacimiento</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>  
            </table>
        </div>

    </div>

@section scripts
    {
    <script>

        var tabladata;



        jQuery.ajax({
            url: '@Url.Action("ListarUsuarios","Home")',
            type: "GET",
            datatypr: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
 
                console.log(data)
            }

        })

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: true
        });
    </script>
    }