USE [master]
GO
/****** Object:  Database [Switch]    Script Date: 31/08/2024 12:12:04 a. m. ******/
CREATE DATABASE [Switch]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Switch', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Switch.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Switch_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Switch_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Switch].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Switch]
GO
/****** Object:  Table [dbo].[barrios]    Script Date: 31/08/2024 12:12:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barrios](
	[id_barr] [int] IDENTITY(1,1) NOT NULL,
	[nombre_barr] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_barr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[habilidades]    Script Date: 31/08/2024 12:12:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[habilidades](
	[id_habi] [int] IDENTITY(1,1) NOT NULL,
	[nombre_habi] [nvarchar](50) NOT NULL,
	[descripcion_habi] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_habi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modalidad]    Script Date: 31/08/2024 12:12:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modalidad](
	[id_moda] [int] IDENTITY(1,1) NOT NULL,
	[nombre_moda] [nvarchar](50) NOT NULL,
	[descripcion_moda] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_moda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publ_habi]    Script Date: 31/08/2024 12:12:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publ_habi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[copia_idpubl] [int] NULL,
	[copia_idhabi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[public_modal]    Script Date: 31/08/2024 12:12:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[public_modal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_publ] [int] NOT NULL,
	[id_moda] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publicacion]    Script Date: 31/08/2024 12:12:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publicacion](
	[id_publ] [int] IDENTITY(1,1) NOT NULL,
	[copia_idusua] [int] NOT NULL,
	[copia_idmoda] [int] NOT NULL,
	[titulo_publ] [nvarchar](60) NOT NULL,
	[descripcion_publ] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_publ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 31/08/2024 12:12:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usua] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usua] [nvarchar](100) NOT NULL,
	[apellido_usua] [nvarchar](100) NOT NULL,
	[genero_usua] [nvarchar](10) NOT NULL,
	[fecha_nacimiento_usua] [date] NOT NULL,
	[celular_usua] [nvarchar](10) NOT NULL,
	[correo_usua] [nvarchar](100) NOT NULL,
	[clave_usua] [nvarchar](500) NOT NULL,
	[correo_electronico_usua] [nvarchar](100) NOT NULL,
	[links_rs_usua] [nvarchar](max) NULL,
	[copia_idbarr] [int] NOT NULL,
	[creacionfecha_usua] [datetime] NOT NULL,
	[modificacionfecha_usua] [datetime] NULL,
 CONSTRAINT [PK__usuario__D2D1C434B531798D] PRIMARY KEY CLUSTERED 
(
	[id_usua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__usuario__690A8BF83BF0E31A] UNIQUE NONCLUSTERED 
(
	[correo_usua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF__usuario__creacio__4D94879B]  DEFAULT (getdate()) FOR [creacionfecha_usua]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF__usuario__modific__4E88ABD4]  DEFAULT (getdate()) FOR [modificacionfecha_usua]
GO
ALTER TABLE [dbo].[publ_habi]  WITH CHECK ADD FOREIGN KEY([copia_idpubl])
REFERENCES [dbo].[publicacion] ([id_publ])
GO
ALTER TABLE [dbo].[publ_habi]  WITH CHECK ADD FOREIGN KEY([copia_idhabi])
REFERENCES [dbo].[habilidades] ([id_habi])
GO
ALTER TABLE [dbo].[public_modal]  WITH CHECK ADD FOREIGN KEY([id_moda])
REFERENCES [dbo].[modalidad] ([id_moda])
GO
ALTER TABLE [dbo].[public_modal]  WITH CHECK ADD FOREIGN KEY([id_publ])
REFERENCES [dbo].[publicacion] ([id_publ])
GO
ALTER TABLE [dbo].[publicacion]  WITH CHECK ADD FOREIGN KEY([copia_idmoda])
REFERENCES [dbo].[modalidad] ([id_moda])
GO
ALTER TABLE [dbo].[publicacion]  WITH CHECK ADD  CONSTRAINT [FK__publicaci__copia__571DF1D5] FOREIGN KEY([copia_idusua])
REFERENCES [dbo].[usuario] ([id_usua])
GO
ALTER TABLE [dbo].[publicacion] CHECK CONSTRAINT [FK__publicaci__copia__571DF1D5]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK__usuario__copia_i__4F7CD00D] FOREIGN KEY([copia_idbarr])
REFERENCES [dbo].[barrios] ([id_barr])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK__usuario__copia_i__4F7CD00D]
GO
USE [master]
GO
